# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/
.env.*

# Logs
/logs
*.log

# DB
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Alembic
alembic/versions/*.pyc

# Docker (иногда оставляют, но можно игнорить override)
docker-compose.yml
docker-compose.local.yml

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff / linters
.ruff_cache/

# Secrets
.env